body {
  margin: 0;
  text-align: center;
  color: #6c059c;
  font-family: 'IBM Plex Sans Hebrew', 'IBM Plex Sans', sans-serif,  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.recharts-wrapper { margin : 0 auto;} /*centralize the graph*/

.mapboxgl-popup-close-button{ visibility: hidden; } /*fixing map, x hidden*/

.googleButton button { width: 100%; } /*fix google and facebook login buttons to 100%*/
.googleButton button span { width: 75%; font-size: 16pt; text-align: center; }
.facebookButton button  {height: 48px;  display: inline-flex;  border-radius: 4px ! important;
      box-shadow: 1px 1px #AAAAAA; text-shadow: 1px 1px #CCCCCC; width: 100%; }
.facebookButton button i {margin-left: -10px; margin-top: -6px;  font-size: 16pt;}
.facebookButton button span{width: 100%; font-size: 14pt; text-align: center; margin-top: -4px;  }