body {
  margin: 0;
  text-align: center;
  color: #666666;
  font-family: 'IBM Plex Sans Hebrew', 'IBM Plex Sans', sans-serif,  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.mapboxgl-popup-close-button{ visibility: hidden; } /*fixing map, x hidden*/
